*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 12px;
}

@page {
  size: A4;
  margin: 0;
}

@media print {

  html,
  body {
    width: 210mm;
    height: 297mm;
  }

}

.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}

.clear-fix:after {
  clear: both;
}

.clear-box {
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.printing-box {
  width: 210mm;
  height: 297mm;
  display: table;
  margin: 0 auto;
  padding: 30px;
  outline: solid 1px #ff0000;
}

.header {
  width: 100%;
}

.header__col {
  width: 50%;
  padding-bottom: 10px;
}

.header__logo {
  display: inline-block;
  width: 260px;
  height: 50px;
}

.header__inner-row {
  width: 100%;
}

.header__txts-h {
  width: 100%;
}

.header__title {
  display: block;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
}

.header__id {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  text-align: right;
  padding-left: 10px;
  padding-bottom: 10px;
}

.coupon__body .coupon__col {
  border-top: none;
  border-bottom: none;
}

.coupon__header .coupon__col {
  padding: 5px 0;
}

.coupon__col {
  width: 50%;
  border: 1px solid #000;
  padding: 10px;
  vertical-align: top;
}

.coupon__title {
  font-weight: 600;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.passeger__row:not(:last-child) .passeger__col {
  padding-bottom: 10px;
}

.passeger__row:nth-child(2) .passeger__col {
  padding-bottom: 15px;
}

.passeger__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-bottom: 2px;
}

.passeger__id {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

.passeger__count-txt {
  display: inline;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #000;
  margin-right: 10px;
}

.passeger__count {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.amount {
  border-left: none;
}

.amount__row .amount__col:first-child {
  width: 55%;
}

.amount__row:first-child .amount__col {
  padding-bottom: 10px;
}

.amount__col {
  width: 45%;
}

.amount__title {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.amount__cost {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  vertical-align: middle;
  color: #000;
}

.a-info__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

.a-type__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #000;
  text-transform: uppercase;
}

.route {
  border-right: none;
}

.departure {
  border-left: none;
  border-right: 1px solid #000;
  ;
}

.coupon__col.route {
  padding: 6px 10px;
}

.route__col {
  width: 55%;
}

.route__col:first-child {
  width: 45%;
}

.route__txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000;
}

.line__col:not(:nth-child(2)) {
  width: 80px;
}

.line__txt {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
  text-align: center;
  color: #000;
}

.line__arrow {
  width: 25px;
  height: 15px;
  margin: 5px 10px;
  margin-right: 15px;
}

.departure__inner-col .route__txt {
  text-align: right;
}

.departure__date {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000;
}

.qr__col {
  width: 50%;
  padding: 20px 0;
}

.qr__col:first-child {
  padding-right: 5px;
}

.qr__col:last-child {
  padding-left: 5px;
}

.qr__img {
  width: 100px;
  height: 100px;
}

.return table {
  width: 320px;
}

.return {
  padding-bottom: 18px;
}

.qr__inner-row:last-child .qr__inner-col:first-child {
  width: 70%;
}

.qr__title {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

.qr__inner-col {
  vertical-align: top;
}

.qr__txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #000;
}

.warning {
  background: #E5E5E5;
  border: 3px solid #000;
  margin-bottom: 16px;
  padding: 10px;
}

.warning__txt {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000;
  text-align: justify;
}

.warning__row:not(:last-child) .warning__col {
  padding-bottom: 10px;
}

.status__col {
  width: 50%;
}

.status__col:first-child {
  padding-right: 10px;
}

.status__col:last-child {
  padding-left: 10px;
}

.status__title {
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.status__txt {
  text-align: right;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

/* Start of hero */

.hero .first {
  width: 42.5%;
  border: 1px solid black;
}

.hero .second {
  width: 67.5%;
  border: 1px solid black;
}

/* End of hero */
.hero .first,
.hero .second {
  padding: 10px;
}

.hero .first .chipta {
  font-size: 15px;
  line-height: 17px;
  font-weight: 600;
  text-align: center;
}

.hero .first .date {
  font-weight: 400;
  font-size: 0.95em;
  padding-top: 7px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: center;
  line-height: 15px;
}

.passeger__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 2px;
}

.passeger__id {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}

.passeger__count-txt {
  display: inline;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
}

.passeger__count {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
}

/* ============================ */
/* second */

.second-row {
  width: 100%;
}

.second-row .first {
  width: 30%;
  border: 1px solid #000;
  border-top: none;
}

.second-row .second {
  width: 70%;
  border: 1px solid yellow;
  padding: 20px;
}

.vagon,
.seat {
  padding-top: 7px;
}

.number {
  text-align: center;
}

.second-hero .first {
  padding: 10px;
}

.second-heo .second {
  padding: 70px;
}

/* .second-hero .second tr {
  margin: 0 auto;
} */

.time {
  text-align: center;
  font-size: 1.7em;
  font-weight: 700;
}

.time-13 {
  font-weight: 700;
  font-size: 1.3em;
  text-align: center;
}

.text-road {
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.place {
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
}

.departure,
.arrival {
  text-align: center;
  text-transform: uppercase;
}

.arrow {
  width: 100%;
  text-align: center;
}

.arrow div {
  width: 70%;
}

.arrow div img {
  width: 100%;
}

.space-top {
  padding-top: 7px;
}

.period {
  border: 1px solid #000;
  border-top: none;
  border-left: none;
}

.period__static-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.period__start-time {
  font-weight: 700;
  font-size: 19px;
  line-height: 22px;
  text-align: center;
  color: #000;
}

.period__start-place {
  font-weight: 700;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  color: #000;
}

.period__time {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000;
}

.period__mid-txt {
  font-weight: 400;
  font-size: 8px;
  line-height: 9px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.arrows{
  width: 100%;
}

.period__arrow {
  width: 100%;
  height: 20px;
}

.period__txts:first-child .period__static-titles {
  padding-bottom: 5px;
}

.period__txts:nth-child(2) .period__static-titles {
  padding-bottom: 10px;
}

.period__col:nth-child(2) {
  vertical-align: bottom;
}

.space {
  padding-left: 15px;
}

.normal-text {
  font-size: 0.95em;
  font-weight: bold;
}

.slite-normal {
  font-size: 0.9em;
  font-weight: bold;
}

.small-text {
  font-size: 0.8em;
  font-weight: 400;
}

.slite-bold {
  font-weight: 600;
  font-size: 1.3em;
}

.bold-text {
  font-size: 15px;
  font-weight: 17px;
  font-weight: bold;
}

/* End of main */
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.table-item {
  text-align: right;
}

.header {
  width: 100%;
}

.navbar {
  width: 64%;
}

.header-table {
  margin-bottom: 10px;
}

.header-logo {
  width: 260px;
  height: 50px;
}

.header .logo-box {
  width: 32%;
}

.header .logo-box img {}

.space {
  padding-left: 10px;
}

.type{
  margin-bottom: 10px;
}

.type__column {
  border: 1px solid #000;
  padding: 10px;
}

.type__column:first-child {
  width: 42.5%;
}

.type__column:last-child {
  width: 67.5%;
}
.type__title{
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #000;
}
.type__txt{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}
.type__box:last-child .type__txt{
  text-align: right;
}

.alert__txt {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FF0000;
}