*,
*:after,
*:before {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: black;
  font-size: 12px;
}

@page {
  size: A4;
  margin: 0;
}

@media print {

  html,
  body {
    width: 210mm;
    height: 297mm;
  }

}

.clear-fix:before,
.clear-fix:after {
  content: "";
  display: table;
}

.clear-fix:after {
  clear: both;
}

.clear-box {
  display: block;
  clear: both;
}

ul {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.printing-box {
  width: 210mm;
  height: 297mm;
  display: table;
  margin: 0 auto;
  padding: 30px;
  outline: solid 1px #ff0000;
}

.header {
  width: 100%;
}

.header__col {
  width: 50%;
  padding-bottom: 10px;
}

.header__logo {
  display: inline-block;
  width: 260px;
  height: 50px;
}

.header__inner-row {
  width: 100%;
}

.header__txts-h {
  width: 100%;
}

.header__title {
  display: block;
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: right;
}

.header__id {
  display: inline-block;
  vertical-align: middle;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000;
  text-align: right;
  padding-left: 10px;
  padding-bottom: 10px;
}

.coupon__body .coupon__col {
  border-top: none;
  border-bottom: none;
}

.coupon__header .coupon__col {
  padding: 5px 0;
}

.coupon__col {
  width: 50%;
  border: 1px solid #000;
  padding: 13px;
  vertical-align: top;
}

.coupon__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.passeger__row:not(:last-child) .passeger__id {
  margin-bottom: 10px;
}

.passeger__row:nth-child(2) .passeger__id {
  margin-bottom: 15px;
}

.passeger__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #000;
  margin-bottom: 2px;
}

.passeger__id {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

.passeger__count-txt {
  display: inline;
  font-weight: 400;
  font-size: 11px;
  line-height: 14px;
  color: #000;
  margin-right: 10px;
}

.passeger__count {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #000;
}

.amount {
  border-left: none;
}

.amount__row .amount__col:first-child {
  width: 55%;
}

.amount__row:first-child .amount__col {
  padding-bottom: 15px;
}

.amount__col {
  width: 45%;
}

.amount__title {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  color: #000;
}

.amount__cost {
  display: inline-block;
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  vertical-align: middle;
  color: #000;
}

.a-info__title {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}

.a-type__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #000;
  text-transform: uppercase;
}

.route {
  border-right: none;
}

.departure {
  border-left: none;
  border-right: 1px solid #000;
  ;
}

.coupon__col.route {
  padding: 6px 10px;
}

.route__col {
  width: 55%;
}

.route__col:first-child {
  width: 45%;
}

.route__txt {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #000;
}

.line__col:not(:nth-child(2)) {
  width: 80px;
}

.line__txt {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  vertical-align: middle;
  text-align: center;
  color: #000;
}

.line__arrow {
  width: 25px;
  height: 15px;
  margin: 5px 10px;
  margin-right: 13px;
}

.departure__inner-col .route__txt {
  text-align: right;
}

.departure__date {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #000;
}

.qr__col {
  width: 50%;
  padding: 20px 0;
}

.qr__col:first-child {
  padding-right: 5px;
}

.qr__col:last-child {
  padding-left: 5px;
}

.qr__img {
  width: 100px;
  height: 100px;
}

.qr__inner-row:first-child .qr__inner-tab{
  margin-bottom: 18px;
}


.return table{
  width: 320px;
}
.qr__inner-row:last-child .qr__inner-col:first-child{
  width: 70%;
}


.qr__title {
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #000;
}
.qr__inner-col{
  vertical-align: top;
}
.qr__txt{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  color: #000;
}